# docker-compose.yml
version: '3.8'

services:
  mongo:
    image: mongo:8.0
    container_name: myapp-mongo
    ports:
      - '27017:27017'
    volumes:
      - ./mongodb/initialize.js:/docker-entrypoint-initdb.d/initialize.js:ro
      - mongo-data:/data/db
    command:
      - mongod
      - --replSet
      - rs0
      - --bind_ip_all

volumes:
  mongo-data:
