.logo {
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.logo[data-click-disabled='false'] {
  cursor: pointer;
}

.logoIcon {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background-color: var(--mantine-color-blue-5);
}

.logoText {
  cursor: default;
}

.logoTop {
  letter-spacing: 0.3em;
  transform: translateY(1.5px);
}

.logoBottom {
  /* letter-spacing: 0.2em; */
  transform: translateY(-4px);
}
