.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
}

.subTitle {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 700;
}

.error {
  word-break: keep-all;
}
