.root {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
  height: 28px;
  border: 1px solid #5d5d5d;

  font-size: 1.2rem;

  display: flex;

  .step {
    position: relative;
    flex: 1;
    height: 100%;
    background-color: aqua;

    &:last-child {
      border-right: none;
    }

    .pointLabel {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      line-height: 1;
      color: #000;
      white-space: nowrap;
      z-index: 1;

      &[data-label-type='from'] {
        left: 0;
        transform: translateX(-50%) translateY(-105%);
      }

      &[data-label-type='to'] {
        right: 0;
        transform: translateX(50%) translateY(-105%);
      }
    }
  }
}
