.tooltip {
  /* Position */
  position: absolute;
  transition: 0.1s;
  left: 0;
  top: 0;
  z-index: 10;

  /* Sizing */
  min-width: 80px;
  min-height: 36px;
  padding: 8px 12px;

  /* Interaction */
  pointer-events: none;
  user-select: none;

  /* Color */
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  /* Font */
  font-size: 12px;

  /* Border */
  border-radius: 4px;

  .id {
    font-size: 12px;
  }

  .name {
    font-size: 18px;
    font-weight: 400;
  }
}
